@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

:export {
  padding: 20;
  minWidth: 210;
  maxWidth: 286;
  compactThreshold: 480;
  rowsPerPage: 3;
}

.gridLayout {
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

:global(.ms-List-page) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left:-10px;
  margin-right:-10px;
 }

 :global(.ms-List-cell) {
  padding:10px;
}






